body {
  font-family: courier new;
  background: black;
  color: white;
  margin: 0;
}

#info {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 0 5px 5px;
}

#user {
  position: fixed;
  top: 48%;
  left: 40%;
  border: 0;
  background: #ccc;
  color: #000;
  font-size: 25px;
  text-align: center;
  width: 200px;
}

circle.node {
  stroke: #fff;
  stroke-width: 1.5;
}

line.link {
  stroke: #fff;
  stroke-width: 3;
  stroke-opacity: .25;
}

text.nodetext {
  font-family: sans-serif;
  font-size: 10px;
  color: #fff;
}
